### Funciones

In [1]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

In [2]:
#Función con el tercer parámetro opcional
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

In [3]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

In [4]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

### Tipos y secuencias

In [5]:
type('This is a string')

str

In [6]:
type(None)

NoneType

In [7]:
type(1)

int

In [8]:
type(add_numbers)

function

In [1]:
# Las tuplas son una estructura de datos inmutables. Usan ()
x = (1, 'a', 2, 'b')
type(x)

tuple

In [3]:
# Las listas son una estructura de datos mutables. Usan []
x = [1, 'a', 2, 'b']
type(x)

list

In [4]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

####  Bucles

In [12]:
for item in x:
    print(item)

1
a
2
b
3.3

In [13]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

In [14]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [15]:
[1]*3

[1, 1, 1]

In [16]:
# Para verificar si está dentro de la lista
1 in [1, 2, 3]

True

In [17]:
x = 'This is a string'
print(x[0]) #Primer caracter
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #Dos primeros caracteres

T
T
Th

In [18]:
x[-1]

'g'

In [19]:
x[-4:-2]

'ri'

In [20]:
x[:3]

'Thi'

In [21]:
x[3:]

's is a string'

In [22]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [23]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Christopher
Brooks

In [24]:
'Chris' + str(2)

'Chris2'

In [5]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [6]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

In [7]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

In [28]:
# Para acceder a los valores
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

In [29]:
# Para acceder a los items de la lista
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

In [30]:
# Descomprimir una secuencia en diferentes variables
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [31]:
fname

'Christopher'

In [32]:
lname

'Brooks'

In [33]:
#aparecerá error porque se deben llamar 4 variables y se están llamando solo 3
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

### Más de Python Strings

In [15]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

### Leyendo y escribiendo archivos CSV

<br>
Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [6]:
import csv 
%precision 2
with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3] #Los tres primeros diccionarios de nuestra lista

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [7]:
len(mpg)

234

In [8]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

Esta es la forma de encontrar la economía promedio de combustible cty en todos los autos. Todos los valores en los diccionarios son cadenas, por lo que debemos convertir a float.

In [9]:
sum(float(d['cty']) for d in mpg)/len(mpg)

16.86

Del mismo modo, esta es la forma de encontrar la economía promedio de combustible de carretera en todos los automóviles

In [10]:
sum(float(d['hwy']) for d in mpg)/len(mpg)

23.44

Usa set para retornar valores unicos de el numero de cilindros de carros de nuestro dataset

In [11]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

A continuación un ejemplo más complejo donde se agrupan los carros por número de cilindros, y buscando el promedio de cty mpg para cada grupo

In [12]:
CtyMpgByCyl = []

for c in cylinders: # recorriendo los núm de cilindros
    summpg = 0
    cyltypecount = 0
    
    for d in mpg: # recorriendo todo el diccionario 
        if d['cyl'] == c: # si el número de cilindro coincide
            summpg += float(d['cty'])
            cyltypecount += 1
    CtyMpgByCyl.append((c, summpg / cyltypecount))
    
CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [13]:
# Únicos valores de class
vehicleclass = set(d['class'] for d in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

Y aquí hay un ejemplo de cómo encontrar el promedio de mpg en carretera para cada clase de vehículo en nuestro conjunto de datos.

In [14]:
HwyMpgByClass = []

for t in vehicleclass:
    summpg = 0
    vclasscount = 0
    for d in mpg:
        if d['class'] == t:
            summpg += float(d['hwy'])
            vclasscount += 1
    HwyMpgByClass.append((t, summpg/vclasscount))
    
HwyMpgByClass.sort(key = lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

### Dates y DateTimes Python

In [16]:
import datetime as dt
import time as tm

In [17]:
# el tiempo en segundos desde 1 de enero de 1970 hasta ahora
tm.time()

1520991989.13

In [37]:
dtnow = dt.datetime.fromtimestamp(tm.time())
#dtnow = dt.datetime(2018,2,1)
dtnow

datetime.datetime(2018, 2, 1, 17, 42, 55, 184463)

In [38]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

(2018, 2, 1, 17, 42, 55)

In [18]:
# Timedelta es la duración expresando la diferencia entre dos fechas
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(100)

In [19]:
today = dt.date.today()
today

datetime.date(2018, 3, 13)

In [20]:
today - delta # the date 100 days ago

datetime.date(2017, 12, 3)

In [42]:
today > today-delta # compare dates

True

### Objects y map()

In [21]:
# Un ejemplo de una clase en python
class Person:
    department = 'School of Information' 
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [22]:
person = Person()
person.set_name('Evelyn Ancajima')
person.set_location('Lima, Perú')
print('{} line in {} and works in the department {}'.format(person.name, person.location, person.department))

Evelyn Ancajima line in Lima, Perú and works in the department School of Information

Aquí hay un ejemplo de mapeo de la función min entre dos listas.

In [24]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
#cheapest = min(store1, store2)
cheapest

Ahora iteramos a través del objeto del mapa para ver los valores

In [25]:
for item in cheapest:
    print (item)

9.0
11.0
12.34
2.01

### Lambda y Lista de compresiones

In [26]:
my_function = lambda a,b,c : a+b

In [27]:
my_function(1,2,3)

3

Vamos a iterar de 0 a 999 y devolvemos los números pares

In [28]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

Ahora con comprension de listas

In [31]:
my_list = [number for number in range (0, 1000) if number%2 == 0]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

### Numerical Python (NumPy)

In [2]:
import numpy as np

In [33]:
mylist = [1,2,3]
x = np.array(mylist)
x

array([1, 2, 3])

In [34]:
y = np.array([4, 5, 6])
y

array([4, 5, 6])

In [35]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

In [36]:
m.shape

(2, 3)

arange devuelve valores espaciados uniformemente dentro de un intervalo dado

In [38]:
n = np.arange(0, 30,2 ) # inicia desde 0 contando de 2, detiene antes de 30
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [39]:
n = n.reshape(3, 5) # reshape array to be 3x5
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [40]:
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
o

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ])

In [41]:
o.resize(3, 3)
o

array([[ 0. ,  0.5,  1. ],
       [ 1.5,  2. ,  2.5],
       [ 3. ,  3.5,  4. ]])

In [42]:
np.ones((3, 2))

array([[ 1.,  1.],
       [ 1.,  1.],
       [ 1.,  1.]])

In [43]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

### Combinando arreglos

In [3]:
p = np.ones([2,3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

Use vstack para aplilar las matrices en secuencia vertical( en fila)

In [4]:
np.vstack([p, 2*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

Use hstack para aplilar las matrices en secuencia horizontal( en columna)

In [5]:
np.hstack([p, 2+p])

array([[1, 1, 1, 3, 3, 3],
       [1, 1, 1, 3, 3, 3]])

<br>
**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [2]:
import numpy as np
mylist = [1, 2, 3]
x = np.array(mylist)
y = np.array([4, 5, 6])

x.dot(y)

32

In [3]:
z = np.array([y,y**2])
print (len(z))
print (z)

2
[[ 4  5  6]
 [16 25 36]]

Echemos un vistazo a las matrices de transposición. La transposición permuta las dimensiones de la matriz.

In [4]:
z.shape

(2, 3)

In [5]:
#Usa T para obtener la transposición
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [6]:
# Usa dtype para saber el tipo de datos de los elemntos del array
z.dtype

dtype('int32')

In [7]:
# Para castear ese tipo de dato se usa astype
z = z.astype('f')
z.dtype

dtype('float32')

### Funciones matemáticas

In [8]:
a = np.array([-4, -2, 1, 3, 5])

In [9]:
a.sum()

3

In [10]:
a.max()

5

In [11]:
a.min()

-4

In [12]:
a.mean()

0.59999999999999998

In [13]:
a.std()

3.2619012860600183

In [14]:
# Para obtener el máximo índice del array
a.argmax()

4

In [15]:
# Para obtener el mínimo índice del array
a.argmin()

0

### Indexing / Slicing

In [16]:
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144], dtype=int32)

In [17]:
s[0], s[4], s[-1]

(0, 16, 144)

In [18]:
s[1:5]

array([ 1,  4,  9, 16], dtype=int32)

In [19]:
s[-4:]

array([ 81, 100, 121, 144], dtype=int32)

In [20]:
# array[empieza:detiene:tamañodelpaso]
s[-5::-2]

array([64, 36, 16,  4,  0], dtype=int32)

In [21]:
r = np.arange(36)
r.resize((6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [22]:
r[2,2]

14

In [23]:
r[3, 3:6]

array([21, 22, 23])

In [24]:
r[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

In [25]:
r[-1, ::2]

array([30, 32, 34])

In [26]:
r[r > 30]

array([31, 32, 33, 34, 35])

In [27]:
r[r > 30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

### Copiando Data

In [28]:
r2 = r[:3,:3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [29]:
r2[:] = 0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [30]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [31]:
r_copy = r.copy()
r_copy

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [32]:
r_copy[:] = 10
print(r_copy, '\n')
print(r)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

### Iterando sobre arreglos

In [33]:
test = np.random.randint(0, 10, (4,3))
test

array([[7, 4, 2],
       [1, 2, 4],
       [5, 2, 2],
       [3, 1, 0]])

In [34]:
for row in test:
    print(row)

[7 4 2]
[1 2 4]
[5 2 2]
[3 1 0]

In [36]:
for i in range(len(test)):
    print(test[i])

[7 4 2]
[1 2 4]
[5 2 2]
[3 1 0]

In [37]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

row 0 is [7 4 2]
row 1 is [1 2 4]
row 2 is [5 2 2]
row 3 is [3 1 0]

In [38]:
test2 = test**2
test2

array([[49, 16,  4],
       [ 1,  4, 16],
       [25,  4,  4],
       [ 9,  1,  0]], dtype=int32)

In [39]:
for i, j in zip(test, test2):
    print(i,'+',j,'=',i+j)

[7 4 2] + [49 16  4] = [56 20  6]
[1 2 4] + [ 1  4 16] = [ 2  6 20]
[5 2 2] + [25  4  4] = [30  6  6]
[3 1 0] + [9 1 0] = [12  2  0]